:root{
    --rows: 2;
    --cols: 3;
    --card-color: #729f98;
    --side-color: #6e7376;
    --back-color: #efefef;
    --accent-color: #FF9B01;
}

.whole-background{
    /*background-color: #f0eceb;*/
    background-color: var(--back-color);
}

/* list-groups refer to the sidebar */
.list-group.panel {
    overflow: auto;
    font-family: verdana;
    background-color: var(--side-color);
    position: fixed;
    top: 0px;
    width: 260px;
    height: calc(100vh);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    color: var(--back-color);
}

.list-group-submenu {
    background-color: var(--side-color);
    width: 100%;
}

.list-group-item {
    background-color:  var(--side-color);
    position: relative;
    top: 65px;
    color: white;
    font-size:12px;
    height: 40px;
    width: 260px;
    vertical-align: middle;
}

.list-group-item:hover {
    background-color: #a8abac;
    cursor: pointer;
    /* width: 100%; */
    border-left: 3px solid var(--accent-color);
    color: #e9ece5;
}

.list-group-item:last-child {
    margin-bottom: -1;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.strong { 
    font-weight: bold;
    font-size: 16px;
    height: 50px;
}

/* cb class controls the clicking region of checkbox */
/*.cb{
    position: relative;
    margin:0;
      background-color: #283018 !important;
    color: #283018 !important;
    color: #283018;
}

.cb:before {
    content:'';
    position: absolute;
    top:-20px;
    bottom:-20px;
    left:-25px;
    right:-215px;
}*/
input[type='checkbox']:hover {
    cursor: pointer;
}
input[type='checkbox']:before {
    content:'';
    position: absolute;
    top:-20px;
    bottom:-20px;
    left:-25px;
    right:-215px;
}

input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 1px;
    display: block;
    float: left;
    position: relative;
    /*cursor: pointer;*/
}

input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left: 0;
    top: 0;
    font-size: 10px;
    font-weight: bolder;
}

input[type='checkbox']:checked:after {
    background: #FF9B01;
    content: '\2714';
    border-radius: 2px;
    color: white;
    font-size: 12px;
    margin-top: -1px;
    width: 14px;
    height: 14px;
}

/* Create a custom radio button */
[type='radio']{
    position: relative;
    margin:0;
    background-color: #283018 !important;
    color: #283018 !important;
    color: #283018;
}



[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    margin-left: -1px;
    display: block;
    width: 240px;
    height: 25px;
    margin-top: -20px;
    /*color: #666;*/
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type='radio']:before + label:before {
    content:'';
    position: absolute;
    top:-20px;
    bottom:-20px;
    left:-25px;
    right:-215px;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #FF9B01;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* main refers to the main portion of the screen where menus will be */
.mainClass {
    top: 10px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    background-color: var(--back-color);
}

.bigMainClass {
    top: 85px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 250px;
    z-index: -1;
    background-color: var(--back-color);
}

/* card refers to the individual cells for menus on main page */
.card {
    width: calc(calc(1000px - 20px * var(--cols)) / var(--cols));
    min-width: 300px;
    height: calc(calc(625px - 15px * var(--rows)) / var(--rows));
    min-height: 300px;
    margin: 5px;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 3px solid transparent;
}

.card:hover {
    border: 3px solid var(--accent-color);
    cursor: pointer;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color:  var(--card-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#special-header {
    background-color: var(--accent-color);
}


.card-body {
    background-color: #f6f3f3;
    color: black;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-title {
    z-index: 1;
    font-size: 16px;
    margin: 5px;
}

.specials-card-title {
    z-index: 1;
    font-size: 16px;
    margin: 5px;
}

.card-title:hover {
    background-color: #d4e2e0;
}

.card-hover { 
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0);
}

.card:hover .card-hover{
    display: block;
    background: rgba(0,0,0,.5);
    cursor: pointer;
}

.card-fullMenu { 
    display: none;
    position: absolute;
    text-align: center;
    align-self: center;
    background-color: #f6f3f3;
    bottom: 0;
    width: 100%;
    font-size: 17px;
    /* margin-top: 20px; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.card-fullMenu:hover {
    cursor: pointer;
}

.card:hover .card-fullMenu {
    display: block; 
}

.bg-info {
    background-color: var(--back-color) !important;
}
.card-fullMenu:focus {
    outline: none;
    /* border: ; */
}

.specials-card {
    width: calc(calc(1000px - 20px * var(--cols)) / var(--cols));
    height: calc(calc(625px - 15px * var(--rows)) / var(--rows));
    margin: 5px;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 3px solid transparent;
}

.timeAndDate {
    display: flex;
    direction: row;
    width: 80vw;
    background-color: transparent !important;
    color: #6e7376;
    border: none;
    font-size: 23px;
    margin-left: 100px;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 0px;
    letter-spacing: 2px;
 }

.timeAndDate:hover {
    cursor: default;
}

.dateDisplay {
    width: 165px;
    padding-right: 8px;
    text-align: right;
    padding-left: 10px;
    /*text-shadow:
        -0.5px -0.5px 0 #333333,
        0.5px -0.5px 0 #333333,
        -0.5px 0.5px 0 #333333,
        0.5px 0.5px 0 #333333;*/
}

.mealDisplay {
    width: 200px;
    text-align: left;
    /*padding-left: 10px;*/
    /*text-shadow:
        -0.5px -0.5px 0 #000,
        0.5px -0.5px 0 #000,
        -0.5px 0.5px 0 #000,
        0.5px 0.5px 0 #000;*/
}
/* modal is the menu that pops up when user clicks on card */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    margin: 0px auto;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    overflow: auto; /* Enable scroll if needed */
    /*align-self: center;*/
}
.modal-body {
    margin-top: -25px; 
    padding: 0px;
 }

 .card-header:first-child {
     margin-top: -16px;
 }

.close {
    z-index: 1;
    position: sticky;
    color: #333333;
    margin-left: 95%;
    margin-top: 5px;
    font-size: 35px;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: #f6f3f3;
    text-decoration: none;
    cursor: pointer;
}
body {
    margin: 0px;
    padding: 0px;
}

.food-item {
    z-index: 1;
    margin: 10px;
}
.food-item:hover {
    background-color: #d4e2e0; 
}
.popup-title {
    margin: 0px 10px;
    text-align: center;
    color: var(--back-color);
}

.food-restriction {
    display: inline;
    /* float: right;    */
}

.food-description { 
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 10px; 
    font-style: italic;
    padding: 5px;
 }

 .icon-diet {
    height: 30px;
    width: 30px;
 }

 .modal-food-name {
    display: inline;
    font-size: 17px;
 }

 .modal-food-type {
    padding-left: 10px;
    padding-top: 5px;
    color: var(--side-color);
 }

 .radioLabel {
    height: 30px !important;
    margin-top: -23px !important;
 }
 /* @keyframes moving {
     0% {
        transform: translateX(100px);
     }
     100% {
         transform: translateX(0);
     }
 }
*/
 @media (max-width: 930px) {
    .list-group.panel {
        height: 110vh;
        margin-left: -100px;
    }
    .mainClass {
        margin-left: 0px;
 } 
}


