:root{
    --rows: 2;
    --cols: 3;
    --card-color: #729f98;
    --side-color: #6e7376;
    --back-color: #efefef;
    --accent-color: #ffd259;
}

.whole-background{
    /*background-color: #f0eceb;*/
    background-color: var(--back-color);
}

/* list-groups refer to the sidebar */
.list-group.panel {
    overflow: auto;
    font-family: verdana;
    background-color: var(--side-color);
    position: fixed;
    top: 0px;
    width: 250px;
    height: calc(100vh);
    color: var(--back-color);
}

.list-group-submenu {
    background-color: var(--side-color);
    width: 100%;
}

.list-group-item {
    background-color:  var(--side-color);
    position: relative;
    top: 65px;
    color: white;
    font-size:12px;
    height: 40px;
    width: 250px;
    vertical-align: middle;
}

.list-group-item:hover {
    background-color: #a8abac;
    /* width: 100%; */
    border-left: 3px solid var(--accent-color);
    color: #e9ece5;
}

.strong { 
    font-weight: bold;
    font-size: 16px;
    height: 50px;
}


/* cb class controls the clicking region of checkbox */
/*.cb{
    position: relative;
    margin:0;
      background-color: #283018 !important;
    color: #283018 !important;
    color: #283018;
}

.cb:before {
    content:'';
    position: absolute;
    top:-20px;
    bottom:-20px;
    left:-25px;
    right:-215px;
}*/

input[type='checkbox']:before {
    content:'';
    position: absolute;
    top:-20px;
    bottom:-20px;
    left:-25px;
    right:-215px;
}

input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 1px;
    display: block;
    float: left;
    position: relative;
    /*cursor: pointer;*/
}

input[type='checkbox']:after {
    content: "";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 13px;
    width: 13px;
    left: 0;
    top: 0;
    font-size: 10px;
}

input[type='checkbox']:checked:after {
    background: rgb(70,70,70);
    content: '\2714';
    color: #fff;
}


/* main refers to the main portion of the screen where menus will be */
.mainClass {
    top: 75px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-left: 260px;
    background-color: var(--back-color);
}

/* card refers to the individual cells for menus on main page */
.card {
    width: calc(calc(1000px - 20px * var(--cols)) / var(--cols));
    height: calc(calc(625px - 15px * var(--rows)) / var(--rows));
    margin: 5px;
    border-radius: 8px;
    background-color: #39414b;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 3px transparent;
}

.card:hover {
    border: 3px solid var(--accent-color);
}

.card-header {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color:  var(--card-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.card-body {
    background-color: #f6f3f3;
    color: black;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-title {
    z-index: 1;
    font-size: 16px;
    margin: 5px;
}

.card-title:hover {
    background-color: #d4e2e0;
}

.card-hover { 
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0);
}

.card:hover .card-hover{
    display: block;
    background: rgba(0,0,0,.5);
}

.card-fullMenu { 
    display: none;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 17px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.card:hover .card-fullMenu {
    display: block; 
}

/* modal is the menu that pops up when user clicks on card */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    height: 100vh;
    width: 100vw;
    top: 60%;
    left: 60%;
    right: auto;
    bottom: auto;

    transform: translate(-60%, -60%);
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin-left: 5vw;
    margin-top: 5vh;
    width: 90vw;
    height: 90vh;
    align-self: center;
}
.close {
    color: #aaa;
    float: right;
    margin-right: 10px;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body {
    margin: 0px;
    padding: 0px;
}