:root {
    --buttonColor: grey;
}
/* navbar refers to the title bar on the page */
.navbar-inverse {
    background-color: #23282e;
    z-index: 1;
    justify-content: start;
    position: fixed;
    width: 100%;
    height: 70px;
}
  
.navbar-inverse .navbar-brand {
    position: fixed;
    color: white;
    font-family: verdana;
    font-size: 32px;
    font-weight: bold;
}

.navbar-right{
    margin-left: auto;
}

.nav-item a{
    /* float: right; */
    font-family: verdana;
    font-size: 16px;
    height: 40px;
    color: white;
    margin-right: 20px
}

.nav-item a:hover {
    color: grey;
    border-bottom: 2px solid #d19b3d;
}



.form{
    float: right;
    color: white;
    font-family: verdana;
    font-size: 16px;
    color: white;
    margin-right: 20px;
    background-color: #23282e;
    border-color: #23282e;
}
.form:active {
    border-style: outset;
  }
.form:focus{
    border-style: outset;
    outline: none;
}
.form:hover {
    color: grey;
    border-bottom: 2px solid #d19b3d;

}

.form-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.navbar-global .navbar-user   {
    color: white;
}

.dropdown-menu {
    left: -100px;
}
.form-request{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.form-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 24rem;
    border-radius: 0.5rem;
    justify-content: center;
}

.formInput {
    width: 100%;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 25px;
    background-color: transparent;
}
.close-button:hover {
    color: grey;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

h2{
    color:white;
}

.data {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
}

.submit-form{
    width: 100%;
    background-color: var(--buttonColor);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}