:root {
    --buttonColor: #729f98;
    --header-color: #333333;
    --accent-color: #ffd259;
}
/* navbar refers to the title bar on the page */
.navbar-inverse {
    background-color: var(--header-color);
    z-index: 1;
    justify-content: start;
    position: fixed;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}
  
.navbar-inverse .navbar-brand {
    position: fixed;
    color: #f0eceb;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
}

.navbar-right{
    margin-left: auto;
}

.nav-item a{
    /* float: right; */
    font-family: arial;
    font-size: 16px;
    height: 40px;
    color: #f0eceb;
    margin-right: 20px;
}

.nav-item a:hover {
    color: #87bdb6;
    border-bottom: 2px solid var(--accent-color);
}

a1{
    /* float: right; */
    font-family: arial;
    font-size: 16px;
    height: 40px;
    color: #f0eceb;
    margin-right: 20px;
    background-color:#f0eceb;
}

a1:hover {
    background-color: #f0eceb;
        color: #87bdb6;
    border-bottom: 2px solid var(--accent-color);
}



.form{
    float: right;
    color: #f0eceb;
    font-family: arial;
    font-size: 16px;
    color: #f0eceb;
    text-decoration: none;
    background-color: var(--header-color);
    border-color: var(--header-color);
    margin-right: 15px;
    margin-top: 8px;
    height: 32px;
    width: 170px;
    text-align: center;
}

.form:hover {
    color: #87bdb6;
    cursor: pointer;
    border-bottom: 2px solid var(--accent-color);

}

.form-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.navbar-global .navbar-user   {
    color: #f0eceb;
}

.dropdown-menu {
    left: -100px;
    background-color: #f0eceb;
}
.form-request{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.form-open {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0eceb;
    width: 24rem;
    border-radius: 0.5rem;
    justify-content: center;
}

.formInput {
    width: 100%;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: #f0eceb;
    font-size: 25px;
    background-color: transparent;
}
.close-button:hover {
    color: #87bdb6;
}
.show-modal {
    opacity: 1;
    z-index: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

h2{
    color:#f0eceb;
}

.data {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
}

.submit-form{
    width: 100%;
    background-color: #9cbbb6;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    color:white;
}
